# web scraping
bs4

# pdf loader
pypdf

# Vector similarity search
faiss-cpu

# enviroment
ipykernel
debugpy

# Langchain
langchain
langchain-community
langchain-ollama

# Langgraph
langgraph
langgraph-cli[inmem]>=0.1.55